In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [60]:
data=pd.read_csv('ecommerce_data.csv',encoding='ISO-8859-1')

In [61]:
data.shape

(541909, 8)

In [62]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [63]:
data.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [64]:
data.nunique()

InvoiceNo      25900
StockCode       4070
Description     4223
Quantity         722
InvoiceDate    23260
UnitPrice       1630
CustomerID      4372
Country           38
dtype: int64

In [65]:
data.describe()

            Quantity      UnitPrice     CustomerID
count  541909.000000  541909.000000  406829.000000
mean        9.552250       4.611114   15287.690570
std       218.081158      96.759853    1713.600303
min    -80995.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13953.000000
50%         3.000000       2.080000   15152.000000
75%        10.000000       4.130000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [66]:
data=data.loc[data['UnitPrice']>0]
data=data.loc[data['Quantity']>0]

In [67]:
data.shape

(530104, 8)

In [68]:
data.isnull().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     132220
Country             0
dtype: int64

In [69]:
data.dropna(subset=['CustomerID'],inplace=True)

In [70]:
data.shape

(397884, 8)

In [71]:
data.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [72]:
customer_item_matrix=data.pivot_table(index='CustomerID', columns='StockCode', values='Quantity', aggfunc='sum')

In [73]:
customer_item_matrix.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12347.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12348.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
12349.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
12350.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [74]:
customer_item_matrix=customer_item_matrix.applymap(lambda x: 1 if x>0 else 0)

In [75]:
customer_item_matrix.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [76]:
from sklearn.metrics.pairwise import cosine_similarity

In [77]:
user_user_sim_matrix=pd.DataFrame(cosine_similarity(customer_item_matrix))

In [78]:
user_user_sim_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,4328,4329,4330,4331,4332,4333,4334,4335,4336,4337
0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
1,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.0,0.032844,0.062318,0.0,0.113776,0.109364,0.012828
2,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.0,0.000000,0.000000,0.0,0.000000,0.170905,0.083269
3,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.0,0.039014,0.000000,0.0,0.067574,0.137124,0.030475
4,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.044866,0.000000

In [79]:
user_user_sim_matrix.shape

(4338, 4338)

In [80]:
user_user_sim_matrix.columns=customer_item_matrix.index

In [81]:
customer_item_matrix.index

Float64Index([12346.0, 12347.0, 12348.0, 12349.0, 12350.0, 12352.0, 12353.0,
              12354.0, 12355.0, 12356.0,
              ...
              18273.0, 18274.0, 18276.0, 18277.0, 18278.0, 18280.0, 18281.0,
              18282.0, 18283.0, 18287.0],
             dtype='float64', name='CustomerID', length=4338)

In [82]:
user_user_sim_matrix['CustomerID']=customer_item_matrix.index

In [83]:
user_user_sim_matrix.set_index('CustomerID',inplace=True)

In [84]:
user_user_sim_matrix.head()

CustomerID,12346.0,12347.0,12348.0,12349.0,12350.0,12352.0,12353.0,12354.0,12355.0,12356.0,...,18273.0,18274.0,18276.0,18277.0,18278.0,18280.0,18281.0,18282.0,18283.0,18287.0
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
12347.0,0.0,1.000000,0.063022,0.046130,0.047795,0.038484,0.0,0.025876,0.136641,0.094742,...,0.0,0.029709,0.052668,0.0,0.032844,0.062318,0.0,0.113776,0.109364,0.012828
12348.0,0.0,0.063022,1.000000,0.024953,0.051709,0.027756,0.0,0.027995,0.118262,0.146427,...,0.0,0.064282,0.113961,0.0,0.000000,0.000000,0.0,0.000000,0.170905,0.083269
12349.0,0.0,0.046130,0.024953,1.000000,0.056773,0.137137,0.0,0.030737,0.032461,0.144692,...,0.0,0.105868,0.000000,0.0,0.039014,0.000000,0.0,0.067574,0.137124,0.030475
12350.0,0.0,0.047795,0.051709,0.056773,1.000000,0.031575,0.0,0.000000,0.000000,0.033315,...,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.044866,0.000000

In [85]:
#finding Most similar customer
user_user_sim_matrix.loc[12358].sort_values(ascending=False)

CustomerID
12358.0    1.000000
18240.0    0.452911
14155.0    0.452911
14145.0    0.452911
13551.0    0.416025
             ...
14830.0    0.000000
14834.0    0.000000
14836.0    0.000000
14840.0    0.000000
15300.0    0.000000
Name: 12358.0, Length: 4338, dtype: float64

In [86]:
customer_item_matrix.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
CustomerID,,,,,,,,,,,,,,,,,,,,,
12346.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12347.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12348.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12349.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
12350.0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [87]:
item_bought_12358=set(customer_item_matrix.loc[12358][customer_item_matrix.loc[12358]==1].index)

In [88]:
item_bought_12358

{'15056BL',
 '15056N',
 '15056P',
 '15060B',
 '20679',
 '21232',
 '22059',
 '22063',
 '22646',
 '37447',
 '37449',
 '48185',
 'POST'}

In [89]:
item_bought_14145=set(customer_item_matrix.loc[14145][customer_item_matrix.loc[14145]==1].index)

In [90]:
item_bought_14145

{'15056BL', '15056N', '15056P', '20679', '85014A', '85014B'}

In [91]:
item_recommended_14145=item_bought_12358-item_bought_14145

In [92]:
item_recommended_14145

{'15060B',
 '21232',
 '22059',
 '22063',
 '22646',
 '37447',
 '37449',
 '48185',
 'POST'}

In [93]:
stock_discription_for_14145=data.loc[data['StockCode'].isin(item_recommended_14145)][['StockCode','Description']].drop_duplicates().set_index('StockCode')

In [94]:
stock_discription_for_14145

                                   Description
StockCode
POST                                   POSTAGE
22646       CERAMIC STRAWBERRY CAKE MONEY BANK
48185                       DOORMAT FAIRY CAKE
21232           STRAWBERRY CERAMIC TRINKET BOX
22059            CERAMIC STRAWBERRY DESIGN MUG
37449       CERAMIC CAKE STAND + HANGING CAKES
15060B              FAIRY CAKE DESIGN UMBRELLA
37447        CERAMIC CAKE DESIGN SPOTTED PLATE
22063      CERAMIC BOWL WITH STRAWBERRY DESIGN
21232           STRAWBERRY CERAMIC TRINKET POT

In [95]:
def recommend_product_for_customer(customer1):
    customer2=user_user_sim_matrix.loc[customer1].sort_values(ascending=False).reset_index().iloc[1,0]
    item_bought_customer1=set(customer_item_matrix.loc[customer1][customer_item_matrix.loc[customer1]==1].index)
    item_bought_customer2=set(customer_item_matrix.loc[customer2][customer_item_matrix.loc[customer2]==1].index)
    items_recommended=item_bought_customer1-item_bought_customer2
    return customer2,data.loc[data['StockCode'].isin(items_recommended)][['StockCode','Description']].drop_duplicates()

In [96]:
customer,recommendations=recommend_product_for_customer(12358)

In [97]:
print(customer)
print('*****************************************************************************')
print(recommendations)

18240.0
*****************************************************************************
       StockCode                          Description
45          POST                              POSTAGE
134        22646   CERAMIC STRAWBERRY CAKE MONEY BANK
303        48185                   DOORMAT FAIRY CAKE
307        21232       STRAWBERRY CERAMIC TRINKET BOX
731        22059        CERAMIC STRAWBERRY DESIGN MUG
2149       37449   CERAMIC CAKE STAND + HANGING CAKES
4310      15060B           FAIRY CAKE DESIGN UMBRELLA
17246      37447    CERAMIC CAKE DESIGN SPOTTED PLATE
18162      22063  CERAMIC BOWL WITH STRAWBERRY DESIGN
417779     21232       STRAWBERRY CERAMIC TRINKET POT

In [98]:
#Based on Items

In [99]:
item_item_sim_matrix=pd.DataFrame(cosine_similarity(customer_item_matrix.T))

In [100]:
item_item_sim_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,3655,3656,3657,3658,3659,3660,3661,3662,3663,3664
0,1.000000,0.0,0.094868,0.091287,0.0,0.000000,0.090351,0.062932,0.098907,0.095346,...,0.0,0.0,0.0,0.0,0.0,0.029361,0.0,0.067591,0.0,0.078217
1,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.032774,0.045655,0.047836,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.016345,0.0,0.000000
2,0.094868,0.0,1.000000,0.115470,0.0,0.000000,0.057143,0.059702,0.041703,0.060302,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.071247,0.0,0.010993
3,0.091287,0.0,0.115470,1.000000,0.0,0.000000,0.164957,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,0.000000,0.0,0.000000,0.000000,1.0,0.447214,0.063888,0.044499,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [101]:
item_item_sim_matrix.columns=customer_item_matrix.T.index

In [102]:
item_item_sim_matrix['StockCode']=customer_item_matrix.T.index

In [103]:
item_item_sim_matrix.set_index('StockCode',inplace=True)

In [104]:
item_item_sim_matrix.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214V,90214W,90214Y,90214Z,BANK CHARGES,C2,DOT,M,PADS,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.000000,0.0,0.094868,0.091287,0.0,0.000000,0.090351,0.062932,0.098907,0.095346,...,0.0,0.0,0.0,0.0,0.0,0.029361,0.0,0.067591,0.0,0.078217
10080,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.032774,0.045655,0.047836,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.016345,0.0,0.000000
10120,0.094868,0.0,1.000000,0.115470,0.0,0.000000,0.057143,0.059702,0.041703,0.060302,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.071247,0.0,0.010993
10123C,0.091287,0.0,0.115470,1.000000,0.0,0.000000,0.164957,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
10124A,0.000000,0.0,0.000000,0.000000,1.0,0.447214,0.063888,0.044499,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [105]:
item_item_sim_matrix.loc['10123C'].sort_values(ascending=False)

StockCode
10123C    1.000000
85017C    0.182574
22874     0.182574
79071B    0.182574
90094     0.166667
            ...
22393     0.000000
22394     0.000000
22395     0.000000
22396     0.000000
POST      0.000000
Name: 10123C, Length: 3665, dtype: float64

In [106]:
customer_bought_10123C=set(customer_item_matrix.T.loc['10123C'][customer_item_matrix.T.loc['10123C']==1].index)

In [107]:
customer_bought_10123C

{14064.0, 14670.0, 17967.0}

In [108]:
customer_bought_85017C=set(customer_item_matrix.T.loc['85017C'][customer_item_matrix.T.loc['85017C']==1].index)

In [109]:
customer_bought_85017C

{12748.0,
 12867.0,
 13268.0,
 13474.0,
 14081.0,
 14152.0,
 14670.0,
 17337.0,
 17530.0,
 17841.0}

In [110]:
customer_bought_10123C-customer_bought_85017C

{14064.0, 17967.0}